
.header__alignment {
    text-align: center;
    /* background-color: #0000005b; */
    padding: 6rem;
}

.header__text {
    color: white;
    display: inline-block;
    font-size: 4.2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.headshot_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.headshot_frame {
    background-color: white;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    width: 300px;
    cursor: pointer;
    border-radius: 3px;

    transition: transform .3s;
}

.headshot_frame:hover {
    transform: translateY(-1.5rem) scale(1.03);
    cursor: pointer;
    color: #306097;
}

.headshot {
    height: 335px;
    width: 100%;
}

.headshot_text--margin {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: .9rem;
}

.headshot_text {
    font-size: 2.4rem;
}

.modal_container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3rem;
    padding: 3rem;

}

.modal_headshot {
    max-width: 250px;
    max-height: 250px;
}


.text {
    font-size: 1.6rem;
}


@media screen and (max-width: 970px) {

    .img {
        max-width: 320px;
        max-height: 300px;
    }

    .text {
        font-size: 14px;
    }

    .header {
        font-size: 25px;
    }

}

@media screen and (max-width: 768px) {

    .img {
        max-width: 300px;
        max-height: 300px;
    }

    .text {
        font-size: 13px;
    }

    .header {
        font-size: 21px;
    }

}

@media screen and (max-width: 640px) {
    .img {
        max-width: 200px;
        max-height: 200px;
    }

    .text {
        font-size: 11px;
    }

    .header {
        font-size: 17px;
    }
}