.position {
    position: relative;
    top: 10%;
    left: 10%;
}

.header {
    max-width: none;
    font-size: 4rem;
    margin: 0;
}

.sub_header {
    max-width: none;
    font-size: 2rem;
    /* position: relative; */
}

.img_position {
    position: relative;
    left: 70%;
    bottom: 32%;
}

.img {
    max-width: 400px;
    max-height: 500px;
    z-index: 1;
    object-fit: cover;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 1%;
}