.margin {
    margin: 0 10% 0 0;
}

.header {
    max-width: none;
    font-size: 4rem;
    margin: 0;
}

.sub_header {
    max-width: none;
    font-size: 2rem;
    margin: auto;
}

.text {
    margin-bottom: 20px;
}


.icons {
    margin-top: 20px;
}

.solo_icon {
    margin: 0 10px 0 10px;
}

.img {
    max-width: 300px;
    max-height: 500px;
    z-index: 1;
    object-fit: cover;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 1%;
}