.margin {
    margin: 0 10% 0 0;
}

.section_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    color: #ffffff;
    line-height: 1.7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primary_header {
    display: block;
    font-size: 6rem;
    margin: 0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
}

.sub_header {
    display: block;
    font-size: 4.2rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
}

.text_header {
    display: block;
    margin-bottom: 20px;
    width: 50%;
    font-size: 2rem;
    letter-spacing: 5px;
    margin: 10px 0 20px 0;
}

.main-button-container {
    display: block;
    margin-top: 5rem;
}

.main-button {
    background-color: #274C77;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.6rem;
}

.main-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.icons {
    display: block;
    margin-top: 20px;
}

.individual_icon {
    margin: 0 10px 0 10px;
}

.img_container {
    display: block;
    transform: translate(60%, 40%);
}

.img {
    max-width: 300px;
    max-height: 350px;
    z-index: 1;
    object-fit: cover;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {

    .primary_header {
        font-size: 3rem;
    }

    .sub_header {
        font-size: 2.2rem;
    }

    .text_header {
        font-size: 1.5rem;
    }


    .img {
        max-width: 200px;
        max-height: 300px;
        z-index: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    .margin {
        margin: 0 3% 0 0;
    }
}

@media screen and (max-width: 640px) {
    .primary_header {
        font-size: 3rem;
    }

    .sub_header {

        font-size: 2rem;

    }

    .img {
        max-width: 150px;
        max-height: 250px;
        z-index: 1;
        object-fit: cover;
        border-radius: 50%;
    }
}