.margin {
    margin: 0 10% 0 0;
}

.section_container{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header {
    display: block;
    font-size: 4rem;
    margin: 0;
}

.sub_header {
    display: block;
    font-size: 2rem;
    margin: auto;
}

.text {
    display: block;
    margin-bottom: 20px;
    width: 50%;
}

.button {
    display: block;
}

.icons {
    display: block;
    margin-top: 20px;
}

.individual_icon {
    margin: 0 10px 0 10px;
}

.img_container{
    display: block;
    transform: translate(60%, 40%);
}

.img {
    max-width: 300px;
    max-height: 350px;
    z-index: 1;
    object-fit: cover;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {

    /* Adjust the font size smaller for screens up to 640 pixels */
    .header {
        font-size: 2rem;
        /* Adjust the font size as needed */
    }

    .sub_header {

        font-size: 1.2rem;

    }

    .img {
        max-width: 200px;
        max-height: 300px;
        z-index: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    .margin {
        margin: 0 3% 0 0;
    }
}

@media screen and (max-width: 640px) {
    .img {
        max-width: 150px;
        max-height: 250px;
        z-index: 1;
        object-fit: cover;
        border-radius: 50%;
    }
}