.footer {
    padding: 8rem 0;
    background-color: #274C77;
}

.row {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3rem;
    padding: 3rem;

}

.footer__nav {
    padding-top: 2rem;
    display: inline-block;
}

.footer__navlink {
    line-height: 1;
    padding: 8px 12px;
    margin: 3rem;
    color: #E7ECEF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all .2s;
}

.footer__navlink:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3);
    background-color: #306097;
    border-radius: 3px;
}

.footer__thanks{
    padding-top: 2rem;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.footer__thanks-text{
    font-size: 14px;
}