* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 30px;
}

.primary_background {
  height: 95vh;
  background-image: linear-gradient(to right, #3b3b3bbd, #111111c0), url('../src/assets/codeimg.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}


/* Overriding Mantine's styles */
/* :where([data-mantine-color-scheme='light']) .m-e615b15f {
  background-color: rgb(199, 224, 250) !important; 
} */

/* :where([data-mantine-color-scheme='light']) .m-1b7284a3:where([data-with-border]) {
  border: calc(0.0625rem* var(--mantine-scale)) solid rgb(199, 224, 250) !important;
  border-radius: 30px !important;
} */