* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.card {
  height: 90%;
  width: 80%;
 
}

.card_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.element-with-background {
  background-color: #000000;
  background-image: url("bgg.svg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  /* Set height to viewport height */
}


/* Overriding Mantine's styles */
/* :where([data-mantine-color-scheme='light']) .m-e615b15f {
  background-color: rgb(199, 224, 250) !important; 
} */

/* :where([data-mantine-color-scheme='light']) .m-1b7284a3:where([data-with-border]) {
  border: calc(0.0625rem* var(--mantine-scale)) solid rgb(199, 224, 250) !important;
  border-radius: 30px !important;
} */