* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 30px;
}

.primary_background{
  background-image: linear-gradient(to right, #a3cef1c7, #6096bace), url('../src/assets/code.jpg');
  height: 100vh;
}

.secondary_background {
  background-image: linear-gradient(to right, #a3cef1c7, #6096bace), url("image.jpg");
  /* background-attachment: fixed; */
  /* background-size:; */
  /* background-size: contain; */
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.card {
  /* height: 90%;
  width: 80%; */
}

.card_container {
  /* height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
}



/* Overriding Mantine's styles */
/* :where([data-mantine-color-scheme='light']) .m-e615b15f {
  background-color: rgb(199, 224, 250) !important; 
} */

/* :where([data-mantine-color-scheme='light']) .m-1b7284a3:where([data-with-border]) {
  border: calc(0.0625rem* var(--mantine-scale)) solid rgb(199, 224, 250) !important;
  border-radius: 30px !important;
} */